
.imageContainer{
    position: relative;
    display: flex;
    align-items: flex-end;
}
.textAndButton{
    position: absolute;
    right: 0;
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding: 0 1rem;
}
.image{
    height: 100vh;
    min-height: 650px;
}
.newButton{
    align-self: end;
    display: flex;
    align-items: center;
    min-width: fit-content;    
    padding: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
@media (max-width: 820px){
    .textAndButton{
        width: 100%;
    }
}
